<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GOOD DIET</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  
  <body>
    <!--ここからヘッダー -->
   
    
    <!--最初のメッセージ-->
     <div class="top-wrapper">
    <div class="container">
      <h1>人と人を繋げ<br>あなたの人生を変えるダイエット</h1>
      <p>GOOD DIETはダイエットをしたい方とプロのインストラクターを繋げる無料サービス</p>
      <div class="btn-wrapper">
      <a href="#" class="btn signup">無料登録</a>
      <p>or sign up with</p>
      <a href="#" class="btn facebook">Facebookで登録</a>
    </div>
  </div>
  </div>
  
  <!--特徴のパーツ -->
  <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h2>GOOD DIETの特徴</h2>
        </div>
        <div class="lessons">
          <div class="lesson">
            <div class="lesson-icon">
              <img src="bikini.jpg" alt="ビキニ">
              <p></p>
            </div>
            <p class="txt-contents">コンタクトを取って自分に合ったアドバイザーが選べる</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="kicboxing.jpg">
              <p></p>
            </div>
            <p class="txt-contents">同じ気持ちを持った仲間同士が繋がれる</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="yoga.jpg" alt="ヨガ">
              <p></p>
            </div>
            <p class="txt-contents">定期的なイベントに参加することができる</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="running.jpg">
              <p></p>
            </div>
            <p class="txt-contents">一人でダイエットをやるのではないのでモチベーションが保てる</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="vege.jpg">
              <p></p>
            </div>
            <p class="txt-contents">専門的な知識をもつアドバイザーが指導してくれるので、一日一食にするなど過度なダイエットをしなくていける</p>
        </div>
        </div>
      </div>
    </div>
    
    <!--ここからサービス内容 -->
    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>さぁ、GOOD DIETであなたの人生を変えよう！</h2>
           <h3>You can change your life! You can be health!</h3>
        </div>
        <span class="btn message">Life Change!!</span>
      </div>
    <!--ここからフッター -->
    <footer>
      <div class="footer-container">
        <h1>GOOD DIET</h1>
        <p>You can change your life! You can be health!</p>
      </div>
     </div>
    </footer>
  </body>
</heml>
